{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    {% if not carrito_items %}
    <div class="p-5">  
        <h2 class="text-center">El carrito de compras esta Vacio</h2>
        <br>
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'tienda' %}">Continua Comprando</a>
        </div>
    </div>  
    {% else %}
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th class="text-center" scope="col">Producto</th>
      <th scope="col" width="120">Cantidad</th>
      <th scope="col" width="120">Precio</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
    {% for item in carrito_items %}
    <tr>
        <td>
            <figure class="itemside align-items-center d-flex">
                <div class="aside"><img src="{{ item.producto.imagen.url }}" height="100" width="100" class="img-sm" style="object-fit: cover;"></div>
                <strong class="info" style="text-align: center;">
                    <a href="{{ item.producto.get_url }}" class="text-decoration-none text-dark ps-4" >{{ item.producto.titulo }}</a>
                </strong>
            </figure>
        </td>
        <td> 
            <!-- col.// -->
                        <div class="col"> 
                            <div class="input-group input-spinner">
                                <div class="input-group-prepend">
                                <a href="{% url 'quitar_carrito' item.producto.id %}" class="btn btn-light" type="button" id="button-plus"> - </a>
                                </div>
                                <input type="text" class="form-control"  value="{{ item.cantidad }}">
                                <div class="input-group-append">
                                <a href="{% url 'agregar_carrito' item.producto.id %}" class="btn btn-light" type="button" id="button-minus"> + </a>
                                </div>
                            </div> <!-- input-group.// -->
                        </div> <!-- col.// -->
        </td>
        <td> 
            <div class="price-wrap"> 
                {% if moneda == 'ARS' %}
                    <var class="price">${{ item.subtotal }}</var> 
                {% endif %}
                {% if moneda == 'USD' %}
                    <var class="price">${{ item.subtotal_usd }}</var> 
                {% endif %}
                
                {% if moneda == 'ARS' %}
                {% if item.producto.oferta != 0 %}
                <small class="text-muted"> ${{ item.en_oferta }} cada uno </small> 
                {% else %}
                <small class="text-muted"> ${{ item.producto.precio_ars }} cada uno </small> 
                {% endif %}
                {% endif %}

                {% if moneda == 'USD' %}
                {% if item.producto.oferta != 0 %}
                <small class="text-muted"> ${{ item.en_oferta_usd }} cada uno </small> 
                {% else %}
                <small class="text-muted"> ${{ item.producto.precio_usd }} cada uno </small> 
                {% endif %}
                {% endif %}
            
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <a href="{% url 'borrar_carrito' item.producto.id %}" class="btn btn-danger"> Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Precio Total:</dt>
                  <dd class="text-right">${{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Envio: </dt>
                  <dd class="text-right"> ${{ envio }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b"><strong>${{totaltotal}}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="./images/misc/payments.png" height="26">
                </p>
                <a href="./place-order.html" class="btn btn-primary btn-block"> Pagar </a>
                <a href="{% url 'tienda' %}" class="btn btn-light btn-block">Continua comprando</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    {% endif %}
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}